---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mi blog de Astro, aprendizaje.";
import BlogPost from "../components/BlogPost.astro";
---

<body>
  <BaseLayout pageTitle={pageTitle}>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
    <a href="/tags">Indice de etiquetas</a>
  </BaseLayout>
  <script>
    import "../scripts/menu.js";
  </script>
</body>
