---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Página de  inicio";
import "../styles/globlal.css";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{pageTitle}</title>
</head>
<body>
	<BaseLayout pageTitle={pageTitle}>
		<h2>Bienvenidos al blog de Toneti</h2>
		<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
		<p>Esto es un blog personal donde intentaré ir actualizandolo con más herramientas para que sea más interactivo.
			No pretendo hacer grandes cosas pero me gustaría implementar una base de datos donde ir guardando toda la información creada.
		</p>
		<h4>Un saludo y hasta la próxima!!</h6>
	</BaseLayout>
</body>
</html>
