---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de  inicio";
import "../styles/globlal.css";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi subtitulo del blog</h2>
</BaseLayout>