---
const platForm = "github";
const userName = "ton3t"
---

<footer>
    <p>
        ¡Más información sobre mis proyectos en <a href={`https://www.${platForm}.com/${userName}`}>{platForm}!</a>
    </p>
</footer>