---
import Social from "./Social.astro";
---

<footer>
  <p>Enlace a mis redes sociales.</p>

  <Social platForm="github" userName="ton3t" />
  <Social platForm="instagram" userName="elton3t" />
</footer>
